.source.gfm {
  .markup {
    &.heading {
      display: inline-block;
      color: @text-purple;
    	background-color: @bg-purple;

      > * { background-color: transparent; }
    }

    &.code,
    &.raw {
      display: inline-block;
      color: @text-orange;
    	background-color: @bg-orange;

      .constant.numeric,
      .constant.boolean,
      .constant.nil,
      .string.quoted,
      .storage.control,
      .storage.var,
      .keyword.control,
      .constant.symbol {
        color: inherit;
      	background-color: transparent;
      }
    }

    &.italic { font-style: italic; }

    &.bold { font-weight: bold; }

    &.strike { text-decoration: line-through; }
  }

  .link {
    display: inline-block;
    color: @text-blue;
    background-color: @bg-blue;

    .link { background-color: transparent; }
  }

  .comment {
    display: inline-block;
    color: @text-green;
    background-color: @bg-green;
    color: @syntax-fg;
    font-style: normal;

    .comment { background-color: transparent; }

    .link {
      color: inherit;
      background-color: transparent;
    }
  }
}
