.html {

  .meta.tag {
    color: @syntax-fg3;

    .punctuation.definition.tag {
      color: @syntax-fg3;
    }

    .entity.attribute-name {
      .attribute-mix();
    }

    .entity.tag {
      .purple();
    }

  }

  &.htmlplus {

    .meta.tag {
      .entity.tag {
        .reset();
        color: @syntax-fg;
      }
    }

    .string.content {
      .blue();
    }
  }

}
