.source.ruby {
  .constant.other.symbol > .punctuation {
    color: inherit;
  }

  .embedded {
  	.symbol {
  		color: inherit;
			background-color: inherit;
  	}
  }
}

.meta.erb {
  .hl-orange;
}

.source.erb {
	.quoted,
	.symbol,
  .boolean,
	.keyword {
		color: inherit;
		background-color: inherit;
	}
}
