html {
  background-color: #e0e0e0; }

body {
  color: rgba(0, 0, 0, 0.87);
  font-size: 0.875rem;
  background-color: #f0f0f0;
  -webkit-font-smoothing: antialiased; }

*:focus {
  outline: 0 !important; }

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  outline: 0; }

.my-class {

}
