
// Colors

@bg-orange: hsla(35, 100%, 47%, 0.15); // Lum 90 35° #F6E4CB
@bg-purple: hsla(282, 100%, 68%, 0.15); // Lum 90 303° #F1DDF0
@bg-green:  hsla(78, 100%, 37%, 0.19); // Lum 89 71° #E2E9C1
@bg-blue:  hsla(209, 100%, 59%, 0.15); // Lum 90 207° #D9E6F1

@text-orange: #5B5348; // Lum 33, Contrast 6:1
@text-purple: #614C60; // Lum 34, Contrast 6:1
@text-green: #525643; // Lum 33, Contrast 6:1
@text-blue: #49565D; // Lum 33, Contrast 6:1

// Base colors -----------------------------------

@syntax-fg:     #605B53; // Lum 36, Contrast 6:1
@syntax-bg:     #F7F3EE; // Lum 95
@syntax-gutter: @syntax-guide;
@syntax-guide:  #DBD3C8; // Lum 83
@syntax-accent: #3399FF;
@syntax-selection: #E2DCD4; // Lum 87
@syntax-selection-light: #F0EBE6; // Lum 92
@syntax-comment: #AEA598; // Lum 65
