
// Colors

@bg-orange: hsla(35, 100%, 50%, 0.17); // Lum 90 34° #F9E3C6
@bg-purple: hsla(282, 100%, 68%, 0.15); // Lum 90 303° #F1DDF0
@bg-blue: hsla(220, 100%, 73%, 0.20); // Lum 90 220° #DDE4F2
@bg-teal: hsla(172, 100%, 37%, 0.15); // Lum 89 161° #D2EBE3
@bg-green: hsla(78, 100%, 37%, 0.19); // Lum 89 71° #E2E9C1

@bg-purple-light: hsla(275, 100%, 67%, 0.09); // #F2E5F0
@bg-green-on-purple: hsla(80, 79%, 60%, 0.29); // Lum 88 71° #E0E7C0

@text-orange: #5B5348; // Lum 33, Contrast 6:1
@text-purple: #614C60; // Lum 34, Contrast 6:1
@text-blue: #4C5361; // Lum 33, Contrast 6:1
@text-teal: #445751; // Lum 32, Contrast 6:1
@text-green: #525643; // Lum 33, Contrast 6:1

@text-orange-sec: #968164; // L55, Contrast 3:1
@text-purple-sec: #A1789F; // Lum 55, Contrast 3:1

// Base colors -----------------------------------

@syntax-fg: #605B53; // Lum 36, Contrast 6:1
@syntax-fg-sec: #A89C8A; // L65
@syntax-bg: #F7F3EE; // Lum 95
@syntax-gutter: @syntax-guide;
@syntax-guide: #DBD3C8; // Lum 83
@syntax-accent: #3399FF;
@syntax-selection: #E2DCD4; // Lum 87
@syntax-selection-light: #F0EBE6; // Lum 92
@syntax-comment: @syntax-fg-sec;
