// Language syntax highlighting

.comment {
  color: @syntax-comment;
  font-style: italic;

  .punctuation { color: inherit; }
}

.string {
  .hl-green;

  .string { background: none; }
}

.numeric,
.boolean {
  .hl-green;
}

.control {
  .hl-purple;
}

.entity,
.keyword,
.storage,
.constant,
.storage,
.punctuation,
.support,
.meta { color: @syntax-fg; }

.underline {
  text-decoration: underline;
}

.invalid {
  &.deprecated {
    color: @syntax-deprecated-fg !important;
    background-color: @syntax-deprecated-bg !important;
  }
  &.illegal {
    color: @syntax-illegal-fg !important;
    background-color: @syntax-illegal-bg !important;
  }
}
