// Language syntax highlighting

.constant.numeric,
.constant.boolean,
.constant.nil,
.string.quoted {
  color: @text-green;
  background-color: @bg-green;
}

.storage.control,
.keyword.control {
  color: @text-purple;
	background-color: @bg-purple;
}

.constant.symbol {
  color: @text-blue;
	background-color: @bg-blue;
}

.entity,
.keyword,
.storage,
.constant,
.punctuation,
.support,
.meta { color: @syntax-fg; }

.comment {
  color: @syntax-comment;
  font-style: italic;

  .punctuation { color: inherit; }
}

.underline {
  text-decoration: underline;
}

.invalid {
  &.deprecated {
    color: @syntax-deprecated-fg !important;
    background-color: @syntax-deprecated-bg !important;
  }
  &.illegal {
    color: @syntax-illegal-fg !important;
    background-color: @syntax-illegal-bg !important;
  }
}
