@import "colors";

// Official Syntax Variables -----------------------------------

// General colors
@syntax-text-color:            @base1;
@syntax-cursor-color:          @accent;
@syntax-selection-color:       @base5;
@syntax-selection-flash-color: @accent;
@syntax-background-color:      @base7;

// Guide colors
@syntax-wrap-guide-color:          @base4;
@syntax-indent-guide-color:        @base4;
@syntax-invisible-character-color: @base4;

// For find and replace markers
@syntax-result-marker-color:          fade(@accent, 30%);
@syntax-result-marker-color-selected: @accent;

// Gutter colors -----------------------------------
@syntax-gutter-text-color:                @base3;
@syntax-gutter-text-color-selected:       @base1;
@syntax-gutter-background-color:          @base7; // unused
@syntax-gutter-background-color-selected: @base6;

// Git colors - For git diff info. i.e. in the gutter
@syntax-color-renamed:  hsl(208, 100%, 66%);
@syntax-color-added:    hsl(132,  60%, 44%);
@syntax-color-modified: hsl( 40,  90%, 50%);
@syntax-color-removed:  hsl(  0, 100%, 54%);

// For language entity colors
@syntax-color-variable:   @base1;
@syntax-color-constant:   @base1;
@syntax-color-property:   @base1;
@syntax-color-value:      @base1;
@syntax-color-function:   @base1;
@syntax-color-method:     @base1;
@syntax-color-class:      @base1;
@syntax-color-keyword:    @base1;
@syntax-color-tag:        @base1;
@syntax-color-attribute:  @base1;
@syntax-color-import:     @base1;
@syntax-color-snippet:    @base1;


// Custom Syntax Variables -----------------------------------
// Don't use in packages

// @syntax-cursor-line: hsla(35,  8%, 35%, 0.07); // needs to be semi-transparent to show serach results
@syntax-cursor-line: none;

@syntax-deprecated-fg: darken(@syntax-color-modified, 50%);
@syntax-deprecated-bg: @syntax-color-modified;
@syntax-illegal-fg:    white;
@syntax-illegal-bg:    @syntax-color-removed;
